<head>
  <title>btsample</title>
</head>

<body>
  <h1>Bitco[i]nversion</h1>

  {{> hello}}
</body>

<template name="hello">
    {{> converter tckr=ticker}}
    {{#each ticker}}
        {{> tick}}
    {{else}}
        <li>loading...</li>
    {{/each}}
</template>

<template name="tick">
    <ul>
        <li>{{currency}}({{symbol}})</li>
        <li>{{last}}</li>
    </ul>
</template>

<template name="converter">
    <input id="conversion_amount" type="text" name="amt" value="" placeholder="Insert amount..">
    <select id="currency_from" name="currency_from">
        {{#each tckr}}
            <option value="{{currency}}" data-rate="{{last}}">{{currency}}</option>
        {{else}}
            <option value="-1">Loading...</option>
        {{/each}}
    </select>
    To
    <select name="currency_to">
            <option value="BTC">BTC</option>
    </select>
    <span id="conversion_result">
        {{conversionResult}}
    </span>
</template>
